<div class="jumbotron">
  <h2>
    Hello, world!
  </h2>
  <p>
    This is a template for a simple marketing info website. This is a jumbotron.
  </p>
  <p>
    <a class="btn btn-primary btn-large" href="#">Buddon!</a>
  </p>
</div>